.container {
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 3.5rem;
  cursor: pointer;
  user-select: none;
  padding: 0 1rem !important;
  width: 100%;
}

.disabled {
  opacity: 0.5;
  cursor: disabled !important;
}

.title {
  text-align: center;
  // font-family: HelveticaLTStd;
  font-size: 1.6rem;
  font-stretch: normal;
  // font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
}

.iconContainer{ 
  margin: 0 5px;
}

.loading{ 
  margin: 2px 0;
} 
