.item {
    padding: 1rem 0 1rem 3.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #a3a3a5;
    cursor: pointer;
    user-select: none;
}

.activeItem {
    background: #e9f9f1;
    color: #21bf73;
}

@media only screen and (min-width: 992px) {
    .item{
        font-size: 1.5rem;
    }
}