.root {
    padding-top: 2rem !important;
}

.selectFormControl {
   width: 100%;
   border-color: red;
}
 
.selectIcon {
    background: #e9f9f1;
    display: flex;
    width: 4.5rem !important;
    height: calc(4rem + 2px) !important;
    cursor: pointer;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fileButtonOnly {

    .button {
        height: 5.25rem;
        background: #e9f9f1;
        padding: 0 1rem;
        width: 100%;
        // font-family: HelveticaLTStd;
        font-size: 1.525rem;
        // font-weight: bold;
        line-height: 1.5;
        color: #21bf73;
        border-radius: 5px;
    }
}

@media only screen and (min-width:992px){
    .selectIcon {
        height: calc(4rem + 10px) !important;
    }
}