.headerSection {
  margin-bottom: 1.5rem;
}

.title {
  // font-family: HelveticaLTStd;
  font-size: 2rem;
  // font-weight: bold;
  color: #21bf73;
}

.searchInputWrapper {
  width: 28rem;
  border: solid 1px #bababc;
  border-radius: 5px;
  padding-right: 1rem;

  img {
    height: 1.75rem;
    width: 1.75rem;
  }
}

.searchInput {
  height: 3rem;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem !important;
  width: 100%;
}

.searchInput:focus {
  border: 0;
  // border: solid 0.5px #bababc;
  outline: none;
}

.cardWrapper {
  width: 22%;
  min-width: 200px;
  margin: 0 0 2rem 0;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: solid 1px #9e9ea1;
  cursor: pointer;
}

.card:hover {
  border: solid 1px #21bf73;
}

.cardTitle {
  // font-family: HelveticaLTStd-Roman;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #191a1f;
  text-align: center;
  margin-top: 0.75rem;
}