.root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointerNone{
  pointer-events: auto !important;
}

.header {
  // font-family: HelveticaLTStd;
  font-size: 2rem;
//   font-weight: bold;
  color: #191a1f;
  text-align: center;
  margin-bottom: 1rem;
}

.closeBtn {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.body {
    background: white;
    border-radius: 10px;
    position: relative;
    width: 300px;
    border: 0;
    box-shadow: 0;
    outline: none;
    padding: 2rem;
    overflow: auto;
    max-height: 80%;
}