.root {
    padding-right: 1.25rem !important;
}

.boxLayout {
    border: solid 0.5px #d1d1d2;
    margin-bottom: 2rem;
    border-radius: 4px;

    .boxHeader {
        // font-family: HelveticaLTStd;
        font-size: 1.6rem;
        // font-weight: bold;
        line-height: 1.5;
        color: #191a1f;
        height: 4rem;
        padding-left: 2.25rem;
        border-bottom: solid 1px #d1d1d2;
    }
}

.buySellTabRoot {
    min-width: 0 !important;
    opacity: 1 !important;
    font-size: 1.25rem !important;
    color: #a3a3a5 !important;
    font-weight: bold !important;
    text-transform: none !important;
    box-shadow: inset 2px 0 5px 0 rgba(25, 26, 31, 0.05);
    width: 52%;
    background-color: rgba(25, 26, 31, 0.05) !important;
    max-width: 100% !important;
}

.currencyIcon {
    width: 36px;
    height: 36px;
}

.buySellTabIndicator {
    height: 0 !important;
}

.selectedBuySellTab0 {
    color: #f89f36 !important;
    background-color: #ffffff !important;
    box-shadow: none;
}

.selectedBuySellTab1 {
    color: #6D75B6 !important;
    background-color: #ffffff !important;
    box-shadow: none;
}

.fieldsSection {
    padding: 3rem 3rem;
}

.fieldContainer {
    padding: 1.5rem;
    width: 70%;
    border-radius: 5px;
    border: 0.5px solid #d1d1d2;
    display: flex;
    align-items: center;

    img {
        margin-right: 1.5rem;
        height: 28px;
        width: 28px;
    }

    .inputField {
        border-width: 0;
        width: 100%;
        padding: 0;
        font-size: 1.5rem;
        padding-top: 4px;
    }
      
    .inputField:focus {
        outline: none;
    }
}

.transactionIconContainer {
    height: 28px;
    padding: 2rem 0;
    position: relative;

    .dividerLine {
        position: absolute;
        width: 0.5px;
        content: '';
        background: #a3a3a5;
        top: 0;
        bottom: 0;
        left: calc(50% - 0.25px);
    }

    img {
        // width: 16px;
        // height: 16px;
        // padding: 4px;
        border-radius: 50%;
        border: 0.5px solid #6b6c6f;
        z-index: 1;
        transform: rotate(180deg);
        background: white;
    }
}

.makeSureText {
    margin: 1rem 0;
    // font-family: HelveticaLTStd-Roman;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191a1f;

    span {
        color: #21bf73;
    }
}

.summaryHead {
    background: #21bf73;
    padding: 1.6rem 0 1.7rem;
    color: white;
    // font-family: HelveticaLTStd-Roman;
    font-size: 1rem;

    div {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .amount {
        // font-family: HelveticaLTStd;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.summaryDetails {
    padding: 1.5rem 4rem 0 2.25rem;
    // font-family: HelveticaLTStd-Roman;
    font-size: 1.125rem;
    color: #6b6c6f;
    
    div {
        padding: 1.5rem 0;
        border-bottom: 1px solid #d1d1d2;

        .value {
            color:#191a1f;
        }
    }

    div:last-child {
        border-bottom: 0;
        color: #21bf73;

        .value {
            color:inherit;
        }
    }
}

.proceedBtn {
    margin-bottom: 2rem !important;
}

.proceedBtnTitle {
    text-transform: capitalize !important;
}

.walletForSell {
    padding: 2.25rem 3rem 1.5rem;
    // font-family: HelveticaLTStd-Roman;
    font-size: 0.875rem;
    color: #a3a3a5;

    .textType2 {
        color: #191a1f;
        font-size: 1rem; 
    }

    .scanQR {
        margin: 1rem 0 0.8rem;
    }

    .orSection {
        color: #a3a3a5;
        margin: 2rem 0;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        .or {
            background: white;
            z-index: 2;
            width: 50px;
            text-align: center;
        }

        .divider {
            position: absolute;
            height: 0.5px;
            content: '';
            background: #a3a3a5;
            left: 0;
            right: 0;
            top: calc(50% - 1px)
        }
    }

    .copyLink {
        color: #21bf73;
        margin: 0.5rem 0 1rem
    }
}

@media only screen and (min-width: 992px) {
    .font-size132{
        font-size: 1.325rem !important;
    }
    .font-bold{
        font-weight: bold !important;
    }
    .summaryDetails{
        font-size: 1.425rem !important;
    }
    .walletForSell{
        font-size: 1.2rem !important;
    }
    .copyLink{
        font-size: 1.8rem !important;
    }
}