.section {
  padding: 5rem 0 0 !important;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.sectionTitle {
  // font-family: HelveticaLTStd-Roman;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color: #21bf73;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.sectionFields {
  padding: 0 4rem 3rem 3rem; 
  margin-top: 0.5rem;
  border-right: 0.5px solid #bababc;
  flex-grow: 1;
}

.section:last-of-type .sectionFields {
  border-right: 0;
  display: flex;
}

.picture {
  margin-top: 2.5rem;

  img {
    height: 5.25rem;
  }

  .pictureField {
    padding-top: 0 !important;
  }
}

.documentsUpload {
  margin-top: 2rem;

  .front, .back {
    padding-top: 0.5rem !important;
  }

  .back {
    margin-left: 1.3rem;
  }
}

.statusSection {
  height: 100px;
  padding-top: 5rem;
  justify-content: center;
}

@media (min-width: 1440px) {
  .statusSection {
    height: 140px;
  }
}

.statusIndicator {
  width: 65%;
  position: relative;

  .statusLine {
    min-height: 1px;
    background-color: #90dfb9;
  }

  .activeLine {
    position: absolute;
    background: #21bf73;
    left: 0;
    top: 0;
    height: 1px;
  }

  .activeLine::before {
    min-width: 20px;
    min-height: 20px;
    content: '';
    background: #21bf73;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -10px;
  }

  .activeLine::after {
    min-width: 20px;
    min-height: 20px;
    content: '';
    background: #21bf73;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -13px;
  }
}
